@use '../../styles/global.scss' as *;
@use '../../styles/mixins.scss' as *;
@use "sass:map";

.ButtonResend {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    height: 36px;
    padding: 4px 0;
    color: $tan;
    margin-top:16px;
    font-weight: bold;
    @include tablet {
        width: 690px;
        height: 38px;
    }
}