@use './styles/global.scss' as *;
@use './styles/mixins.scss' as *;
@use "sass:map";


.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-top: 110px; /* Ensures the logo starts from a consistent height */
  box-sizing: border-box;
  padding-bottom:36px;
}
